@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;700&family=Open+Sans:ital,wght@0,300;0,400;0,700;1,500&family=Poppins:wght@300;400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Fira code";

  background: linear-gradient(45deg, #000000, #1a1a40);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
